- if user_signed_in?
  = link_to 'クレジットカード作成', new_card_path
  %br
  - if current_user.cards.length > 0
    = link_to 'クレジットカード確認', card_path(current_user.cards.first)
  %br
  = link_to '商品一覧', purchase_index_path

%h4 メモアプリ（サンプル）
.form
  - if user_signed_in?
    = form_with(model: @note, class: "note_form", id: "note_input", local: true) do |form|
      = form.text_area :body, class: "note_form-text"
      = form.submit "メモを登録", class: "note_form-btn"
.notes
  - @notes.each do |note|
    .note{:id => "note#{note.id}"}
      %span.note_name
        投稿者：#{note.user.name}
      - if user_signed_in? && note.user_id == current_user.id
        = link_to "削除", note_path(note.id) ,class: "note_delete", method: :delete
        = link_to "編集", edit_note_path(note.id) ,class: "note_edit"
      = simple_format note.body, class: "note_body"
