!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DemoApp
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    = link_to "トップページ", root_path, class: :top_link
    - if user_signed_in?
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "devise_btn"
      %span.devise_user.devise_user-label ユーザ名:
      = link_to current_user.name, "#", class: "devise_user devise_user-name"
    - else
      = link_to "新規登録", new_user_registration_path, class: "devise_btn"
      = link_to "ログイン", new_user_session_path, class: "devise_btn"
    %div
      = yield
